@model VagasViewModel
@{
    ViewData["Title"] = "Aprovação de Férias";
}


<div>
    <div>
        <form asp-controller="AprovarFerias" asp-action="GetFerias" method="get">
            <div class="card">
                <div class="card-header">
                    Filtros
                </div>
                <div class="card-body">
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Vaga</label>
                            <input type="text" class="form-control" autocomplete="off" asp-for="NomeVaga" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" id="btn-filtra" class="btn btn-sm btn-primary float-right">Filtrar</button>
                    <button type="button" id="btn-insert" class="btn btn-sm btn-success float-right btn-margin">Incluir</button>
                </div>
            </div>
        </form>


        <br />
        <hr />
        <br />

        <div class="table-responsive">
            <table id="grid" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Perfil</th>
                        <th class="nosort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Itens)
                    {
                        <tr>
                            <td>@item.NomeVaga</td>
                            <td>@item.DataMaxima</td>
                            <td>@item.PerfilVaga</td>
                            <td class="td-th-icon-size nosort text-center">
                                <a class="btn-edit" data-toggle="tooltip" data-placement="top" onclick="OpenUpdateModal(@item.Id, 1)" title="Aprovar férias"><i class="fa fa-check td-icon text-success"></i></a>
                                <a class="btn-excluir" data-toggle="tooltip" data-placement="top" onclick="DeleteFeriasData(@item.Id, 0)" title="Não aprovar férias"><i class="fa fa-times td-icon text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#grid').DataTable({
            "pageLength": 100
        });

        $('.placeholder').mask("00/00/0000", { placeholder: "__/__/____" });

        $("#btn-filtra").hide();
        $(".btn-edit").hide();
        $(".btn-excluir").hide();

        HasPermission(10);
    });
</script>