@model CandidatosViewModel
@{
    ViewData["Title"] = "Candidatos";
}



<div>
    <form asp-controller="Candidatos" asp-action="GetCandidato" method="get">
        <div class="card">
            <div class="card-header">
                Filtros
            </div>
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-md">
                        <label>Nome</label>
                        <input type="text" class="form-control" autocomplete="off" asp-for="NomeCandidato" maxlength="50">
                    </div>
                    <div class="col-md">
                        <label>Email</label>
                        <input type="text" class="form-control" autocomplete="off" asp-for="EmailCandidato" maxlength="150">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" id="btn-filtra" class="btn btn-sm btn-primary float-right">Filtrar</button>
                <button type="button" id="btn-insert" class="btn btn-sm btn-success float-right btn-margin">Incluir</button>
            </div>
        </div>
    </form>

    <br />
    <hr />
    <br />

    <div class="table-responsive">
        <table id="grid" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Vaga</th>
                    <th>Telefone</th>
                    <th class="nosort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Itens)
                {
                    <tr>
                        <td>@item.NomeCandidato</td>
                        <td>@item.EmailCandidato</td>
                        <td>@item.NomeVaga</td>
                        <td>@item.TelefoneCandidato</td>
                        <td class="td-th-icon-size nosort text-center">
                            <a class="btn-edit" data-toggle="tooltip" data-placement="top" onclick="OpenUpdateModal(@item.Id, '@item.NomeCandidato', '@item.IdadeCandidato', '@item.EmailCandidato', '@item.TelefoneCandidato', '@item.IdVaga')" title="Aprovar férias"><i class="fas fa-edit td-icon text-success"></i></a>
                            <a class="btn-excluir" data-toggle="tooltip" data-placement="top" onclick="DeleteCandidatoData(@item.Id, '@item.NomeCandidato')" title="Não aprovar férias"><i class="fas fa-trash td-icon text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal" id="modal-insert">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inserir</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Nome<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" onchange="OnChangeValidation(this)" autocomplete="off" id="nome-insert" maxlength="10">
                        </div>
                        <div class="col-md">
                            <label>Idade</label>
                            <input type="text" class="form-control" autocomplete="off" id="idade-insert" maxlength="2">
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Telefone<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" onchange="OnChangeValidation(this)" autocomplete="off" id="telefone-insert">
                        </div>
                        <div class="col-md">
                            <label>Vaga<span class="text-danger">*</span></label>
                            <select class="form-control" id="vaga-insert">
                                @foreach (var item in Model.ItensFerias)
                                {
                                    <option value="@item.Id">@item.NomeVaga</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" onchange="OnChangeValidation(this)" autocomplete="off" id="email-insert">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btn-inserir-cancelar" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btn-salvar-perfil" onclick="InsertCandidatoData();">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-update">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alterar</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input hidden id="id-update" />
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Nome<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" onchange="OnChangeValidation(this)" autocomplete="off" id="nome-update" maxlength="10">
                        </div>

                        <div class="col-md">
                            <label>Idade</label>
                            <input type="text" class="form-control" autocomplete="off" id="idade-update" maxlength="10">
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Telefone<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" onchange="OnChangeValidation(this)" autocomplete="off" id="telefone-update" />
                        </div>
                        <div class="col-md">
                            <label>Vaga<span class="text-danger">*</span></label>
                            <select class="form-control" id="vaga-update" asp-for="IdVaga">
                                @foreach (var item in Model.ItensFerias)
                                {
                                    <option value="@item.Id">@item.NomeVaga</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md">
                            <label>Email<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" onchange="OnChangeValidation(this)" autocomplete="off" id="email-update" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btn-editar-perfil" onclick="UpdateCandidatoData();">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#grid').DataTable({
            "pageLength": 100
        });

        $('.placeholder').mask("00/00/0000", { placeholder: "__/__/____" });

        $("#btn-filtra").hide();
        $(".btn-edit").hide();
        $(".btn-excluir").hide();

        HasPermission(9);
    });

    $("#btn-insert").click(function () {
        $('#modal-insert').modal('show');
    });

    function ValidateBeforeInsert() {
        var model = {
            NomeCandidato: $('#nome-insert'),
            EmailCandidato: $('#email-insert'),
            TelefoneCandidato: $('#telefone-insert'),
            IdVaga: $('#vaga-insert')
        }

        var valida = true

        $.each(model, function (i, item) {
            if (item.val() == "") {
                item.css("border-color", "red")
                valida = false
            }
        })

        return valida;
    }

    function ValidateBeforeUpdate() {
        var model = {
            NomeCandidato: $('#nome-update'),
            EmailCandidato: $('#email-update'),
            TelefoneCandidato: $('#telefone-update'),
            IdVaga: $('#vaga-update')
        }

        var valida = true

        $.each(model, function (i, item) {
            if (item.val() == "") {
                item.css("border-color", "red")
                valida = false
            }
        })

        return valida;
    }

    function OnChangeValidation(campo) {
        if ($(campo).val() != "") {
            $(campo).css("border-color", "")
        }
    }

    function InsertCandidatoData() {
        var model = {
            NomeCandidato: $('#nome-insert').val(),
            IdadeCandidato: $('#idade-insert').val(),
            EmailCandidato: $('#email-insert').val(),
            TelefoneCandidato: $('#telefone-insert').val(),
            IdVaga: $('#vaga-insert').val()
        }

        if (ValidateBeforeInsert()) {
            AjaxHelper('POST', '/Candidatos/CreateCandidato', model, function (result) {
                if (result) {
                    configureSweetSuccess("Candidato inserido com Sucesso", "/Candidatos/Index")
                }
                else {
                    configureSweetError('error');
                }
            })
        }
    }

    function UpdateCandidatoData() {
        var model = {
            Id: $('#id-update').val(),
            NomeCandidato: $('#nome-update').val(),
            IdadeCandidato: $('#idade-update').val(),
            EmailCandidato: $('#email-update').val(),
            TelefoneCandidato: $('#telefone-update').val(),
            IdVaga: $('#vaga-update').val()
        }

        if (ValidateBeforeUpdate()) {
            AjaxHelper('PUT', '/Candidatos/UpdateCandidato', model, function (result) {
                if (result) {
                    configureSweetSuccess("Candidato alterado com Sucesso", "/Candidatos/Index")
                }
                else {
                    configureSweetError('error');
                }
            })
        }
    }

    function DeleteCandidatoAjax(id) {
        var model = {
            Id: id,
        };
        AjaxHelper('DELETE', '/Candidatos/DeleteCandidato', model, function (result) {
            if (result) {
                configureSweetSuccess("Candidato deletado com sucesso!", "/Candidatos/Index")
            }
            else {
                configureSweetError('error');
            }
        })
    }


    function OpenUpdateModal(Id, nome, idade, emaail, telefone, vaga) {
        $('#modal-update').modal('show');
        $("#id-update").val(Id);
        $("#nome-update").val(nome)
        $('#idade-update').val(idade);
        $('#email-update').val(emaail);
        $('#telefone-update').val(telefone);
        $('#vaga-update').val(vaga);
    }


    function DeleteCandidatoData(id, nome) {
        Swal.fire({
            title: "Férias",
            text: "Tem certeza que deseja remover o Candidato: " + nome + "?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#dc3545',
            confirmButtonText: 'Sim, deletar!'
        }).then((result) => {
            if (result.isConfirmed) {
                DeleteCandidatoAjax(id)
            }
        })
    }
</script>