@model PerfilViewModel
@{
    ViewData["Title"] = "Perfil";
}

<body>
    <form class="form-horizontal" asp-controller="Perfil" asp-action="ListRoleBySearch" method="get">
        <div class="card bg-light">
            <div class="card-header">
                <strong>Filtrar</strong>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <label class="col-sm-1 col-form-label">Perfil</label>
                    <select class="col-sm-11 form-control" asp-for="Id">
                        <option>-- SELECIONAR --</option>
                        @foreach (var item in Model.itensReturnToSelect)
                        {
                            <option value="@item.Id">@item.Role</option>
                        }
                    </select>
                </div>
                <br />
            </div>
            <div class="card-footer">
                <button type="submit" id="btn-filtra" class="btn btn-sm btn-primary float-right">Filtrar</button>
                <button type="button" id="btn-insert" class="btn btn-sm btn-success float-right btn-margin">Incluir</button>
            </div>
        </div>
    </form>
    <br />
    <hr />
    <br />

    <table id="grid" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Role</th>
                <th class="td-th-icon-size"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.itensReturnToTable)
            {
                <tr>
                    <td>@item.Role</td>
                    <td class="td-th-icon-size nosort text-center">
                        <a asp-controller="Perfil" asp-action="" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Editar Permissões"><i class="fas fa-network-wired td-icon text-success"></i></a>
                        <a class="btn-edit"><i class="fas fa-edit td-icon text-warning" data-toggle="tooltip" data-placement="top" title="Editar um Perfil"></i></a>
                        <a class="btn-excluir" onclick="Excluir(@item.Id, '@item.Role')" data-toggle="tooltip" data-placement="top" title="Excluir um perfil"><i class="fas fa-trash td-icon text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal" id="modal-insert-perfil">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inserir</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label class="form-label">Nome do Perfil: </label>
                    <input class="form-control" autocomplete="off" id="input-nome-perfil-insert" />
                    <hr />
                    <div id="label-all-menus">
                    </div>
                    <div>
                        <div id="list-all-menus" class="form-check">
                        </div>
                    </div>
                    <div>
                        <div id="label-all-permissoes">
                            <div id="list-all-permissoes" class="form-check">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btn-inserir-cancelar" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btn-salvar-perfil" onclick="IncluirDadosPerfil();">Salvar</button>
                    <button type="button" class="btn btn-warning" id="btn-salvar-menus" onclick="IncluirDadosMenusPerfil();">Salvar Menus</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-update-perfil">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alterar</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input hidden id="update-id" />
                    <label class="form-label">Nome do Perfil: </label>
                    <input class="form-control" id="input-nome-perfil-alterar" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btn-editar-perfil" onclick="IncluirDadosPerfil();">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('#grid').DataTable();

        $("#btn-filtra").hide();
        $("#btn-insert").hide();
        $(".btn-edit").hide();
        $(".btn-excluir").hide();
        HasPermission();

        ReturnAllMenusToModal();
        $('#input-nome-perfil-insert').prop('disabled', false);
        $("#list-all-menus").hide();
        $("#label-all-menus").hide();
        $("#list-all-permissoes").hide();
        $("#btn-salvar-menus").hide();
        $("#btn-salvar-permissoes").hide();
        $("#btn-salvar-perfil").show();
        $('#btn-salvar-menus').prop('disabled', true);
    });

    function HasPermission() {
        $.ajax({
            type: 'GET',
            url: "/Home/HasPermissionAllowed",
            data: { IdMenu: 7 },
            success: function (result) {
                $.each(result, function (i, item) {
                    if (item.ler == 1) { $("#btn-filtra").show(); }
                    if (item.criar == 1) { $("#btn-insert").show(); }
                    if (item.alterar == 1) { $(".btn-edit").show(); }
                    if (item.deletar == 1) { $(".btn-excluir").show(); }
                })
            },
            error: function (error) {
                console.log(error);
            }
        });
    }


    $("#btn-insert").click(function () {
        $('#modal-insert-perfil').modal('show');
    });

    function IsChecked() { 
        var verifyIsChecked = $('.appended').is(":checked")
        if (verifyIsChecked) {
            $('#btn-salvar-menus').prop('disabled', false);
            return;
        }
        if (!verifyIsChecked) {
            $('#btn-salvar-menus').prop('disabled', true);
        }
    }

    function ReturnAllMenusToModal() {
        $.ajax({
            type: 'GET',
            url: "/Perfil/ReturnAllMenusToModal",
            success: function (result) {
                var divToAppend = $('#list-all-menus')
                $.each(result, function (i, item) {
                    divToAppend.append('<input type="checkbox" class="form-check-input appended" onclick="IsChecked();" id="' + item.id + '">')
                    divToAppend.append('<label class="form-check-label ">' + item.menu + '</label>')
                    divToAppend.append('<br />')
                })
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function IncluirDadosPerfil() {
        var model = { Role: $('#input-nome-perfil-insert').val() };

        $.ajax({
            type: 'POST',
            url: "/Perfil/CreateNewPerfil",
            data: model,
            success: function (result) {
                var divToAppend = $('#label-all-menus')
                divToAppend.append('<h5 class="form-check-label appended">' + result + '</h5>')

                $("#label-all-menus").show(1000);
                $("#list-all-menus").show(1000);
                $("#btn-salvar-perfil").hide();
                $("#btn-salvar-menus").fadeIn("slow");

                $('#btn-inserir-cancelar').text("Inserir Depois");
                $('#input-nome-perfil-insert').prop('disabled', true);

            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function IncluirDadosMenusPerfil() {

        function IncluirAposRetornarPerfil(id) {

            function IncluirDadosMenu(idMenu, IdPerfil, Acesso) {
                var model = {
                    IdMenus: idMenu,
                    IdNivelAcesso: IdPerfil,
                    Acesso: Acesso
                };

                $.ajax({
                    type: 'POST',
                    url: "/Perfil/CreateMenuAcessoToNewPerfil",
                    data: model,
                    success: function (result) {
                        if (result) {
                            return result;
                        }
                    },
                    error: function (error) {
                        Swal.fire('Não foi possível cadastrar os menus, contate o suporte.', '', 'error')
                    }
                });
            }

            $.ajax({
                type: 'GET',
                url: "/Perfil/ReturnAllMenusToModal",
                success: function (result) {
                    $.each(result, function (i, item) {
                        var idMenu = $('#' + item.id).is(":checked")
                        if (idMenu) {
                            IncluirDadosMenu(item.id, id, 1)
                        }
                    })
                    Swal.fire({
                        title: 'Perfil cadastrado com sucesso!',
                        showDenyButton: false,
                        showCancelButton: false,
                        confirmButtonText: 'Ok',
                        icon: 'success'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.href = "/Perfil/Index";
                        }
                    })
                },
                error: function (error) {
                    Swal.fire('Não foi possível cadastrar o perfil, contate o suporte.', '', 'error')
                }
            });
        }

        $.ajax({
            type: 'GET',
            url: "/Perfil/ListRoleByName",
            data: { Role: $('#input-nome-perfil-insert').val() },
            success: function (result) {
                console.log("ID DO USUARIO:  ", result)
                IncluirAposRetornarPerfil(result);
            },

            error: function (error) {
                console.log(error);
            }
        });
    }



    function Excluir(id, role) {
        Swal.fire({
            title: role,
            text: "Tem certeza que deseja deletar o perfil " + role + "?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#28a745',
            cancelButtonColor: '#dc3545',
            confirmButtonText: 'Sim, deletar!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'DELETE',
                    url: "/Perfil/DeletePerfil",
                    data: { Id: id },
                    success: function (result) {
                        Swal.fire({
                            title: 'Perfil deletado com sucesso!',
                            showDenyButton: false,
                            showCancelButton: false,
                            confirmButtonText: 'Ok',
                            icon: 'success'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = "/Perfil/Index";
                            }
                        })
                    },
                    error: function (error) {
                        Swal.fire(
                            'Erro!',
                            'Não foi possível deletar esse perfil, entre em contato com o suporte.',
                            'error'
                        )
                    }
                });
            }
        })
    }



</script>

